.background{
    margin-top: 4em;
    width: auto;
    object-fit: cover;
    
}

a{
    font-size: var(--big);
}

.booth-entry{
    position:absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 20vh;
    width: 20%;
    
    top:20%;
    left: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

button{
    font-size: 2em; 
}